.box{
	background-color: chartreuse;
padding: 10px;
}


#picture {
	text-align: center;
}

.timothy { 
	width: 200px;
	height:200px;
	margin-top: 50px


}
.tope{
	width: 300px;
	
}
.wale{
	width: 300px;
}
.about-me{ 
	background-color: wheat;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-top: 100px;
	margin-bottom: 30px;
	padding: 10px;
}


	

body {
background-image: url(../img/ogundele.jpg)
}


.welcome img{
	width: 1200px;
	height: 200px;
}